body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
    background: #196b94;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15pt;
    text-shadow: none;
    width: fit-content;
    height: fit-content;
    margin: 5px;
    padding: 3px 7px;
}


#navigator {
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#dateDisplay {
    margin: 0 10px;
    font-size: 15pt;
}

#prevBtn {
    position: fixed;
    margin: 0 10px;
    left: 10px;
}
#nextBtn {
    position: fixed;
    margin: 0 10px;
    right: 10px;
}

#wordsBox {
    margin-top: 70px;
    padding: 20px;
}

#testBox {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#test1Btn,
#test2Btn,
#test3Btn,
#doneCheck {
    margin: 0 10px;
    width: 100px;
    height: 50px;
}

/* Media Queries */
@media (max-width: 600px) {
    #navigator {
        padding: 5px;
    }

    #prevBtn,
    #dateDisplay,
    #nextBtn {
        margin: 0 5px;
    }

    #wordsBox {
        margin-top: 50px;
        padding: 10px;
    }

    #testBox {
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
    }

    #test1Btn,
    #test2Btn,
    #test3Btn,
    #doneCheck {
        margin: 0 5px;
    }
}
  